@charset "UTG-8";
body{text-align: center; background-color: azure;}
h1{color: blue; text-decoration: underline;}
p{color: rgb(160, 159, 164);}
h2{color: red;}
a{color: aquamarine; text-align: right;}