@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root{
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2: 'Passion One', cursive;
    --font3:'Sriracha', cursive;
    
}


*{
    margin: 0;
    padding: 0;
    font-size: 1em;
}

html, body{
    min-height: 100vh;
    background-color: darkgray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

header{
    background-color: black;
    color: white;
    text-align: center;
    text-decoration: none;
    font-family: var(--font2);
}

header>h1{
    padding: 50px;
    font-variant: small-caps;
    font-size: 10vw;
}
header>p{
    padding-bottom: 50px;
    

}

header a, footer a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
    
}
header a, footer a:hover{
    text-decoration: underline;
}

section{
    font-family: var(--font3);
    font-size: 3vw;
    padding-top: 10%;
    padding-bottom: 10%;
    line-height: 2em;
    padding-left: 30px;

}
section>p{
    padding: 2em;
}
.normal{
    background-color: white;
    color: black;
}

section.imagem>p{
    padding: 5px;
    display: inline-block;
    background-color: rgba(49, 46, 46, 0.5);
    text-shadow: 1px 1px 0px black;
    

}
.imagem{
    background-color: black;
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.255);
    background-attachment: fixed;

}

section#img01{
    background-image: url(imagens/background001.jpg);
    background-position: right center;
    background-size: cover;
    
}

section#img02{
    background-image: url(imagens/background002.jpg);
    background-position: right center;
    background-size: cover;
   
}



footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}